html {text-align: center;
height: 100%	
}

* {margin: 0px auto
}

body {
	background:url("../images/Hangman.jpg");
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
 
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.0em;
}

  #mylives{
  font-size:1.0em;
  text-align:center;
  display:block;
}

button:hover {
      background: white;
      border: solid 1px white;
      color: inherit;
    }

#alphabet {
    margin: 15px auto;
    padding: 0;
    max-width: 900px;
}

#alphabet:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-inherit;
}

header {
}

h1 {
	text-align: left;
	text-decoration: underline;
	margin-left: 100px;
	color: #e0e0e0;
	font-weight: 700;
	font-size: 100px;
}

.container {
	clear: both;
	float: left;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
	font-size: 22px;
}

#main {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
	font-size: 22px;
}

#instructions {
	position: relative;
	left: 90px;
}

.col-md-6{
	
}

img {
	position: relative;
	height: 270px;
	top:0px;
}
